*{
    /* font-family: "Inter", sans-serif; */
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* SHARED STYLE */
.container{
    width: 1140px;
    margin: 0 auto;
}
p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}
h1{
    font-family: Noto Serif;
    font-size: 65px;
    font-weight: 700;
}
.title-color{
    color: rgb(233, 90, 8);
}
h4{
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.price{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}
.btn{
    border: none;
    background: rgb(233, 90, 8);
    width: 270px;
    height: 50px;
    
}
.btn a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
} 

/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 143px;
    height: 71px;
}
.logo{
    width: 135px;
    height: 82px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.nav-text1{
    font-family: Inter;
    color: rgb(37, 36, 50);
    font-size: 16px;
    font-weight: 700;
}
.nav-text2{
    font-family: Inter;
    color: rgb(137, 135, 161);
    font-size: 16px;
    font-weight: 400;
}


/* HERO SECTION */
.hero{
    display: flex;
    justify-content: space-between;
    height: 461px;
}
.hero-text{
    width: 570px;
    height: 299px;
}
.hero-text h1{
    margin-bottom: 10px;
}
.hero-text p{
    margin-top: 0;
}
.hero-img{
    width: 570px;
    height: 355px;
}

/* ABOUT */
.about{
    text-align: center;
}
.about h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.about p{
    margin: 0 126px;
    margin-bottom: 49px;
}

/* ITEMS */
.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 60px;

}
.item{
    width: 270px;
    height: 484.94px;
    text-align: center;
}

/* Flower & Plant Lover */
.plant-lover{
    display: flex;
    justify-content: space-between;
}
.flower-lover{
    width: 540px;
    height: 597px;
}
.badge{
    width: 286px;
    height: 286px;
}
.plant-lover-box{

}
.plant-lover-text{
    
}


